@charset "UTF-8";
body {
  background: url("../img/bg.jpg") no-repeat center 170px transparent;
  font-family: "Arial Narrow";
  font-size: 16px;
}

html, body {
  height: 100%;
  min-width: 970px;
}

a {
  outline: none;
}

.hidden {
  opacity: 0;
}

.page {
  min-height: 100%;
  overflow: hidden;
}
.page .container {
  min-height: 100%;
  margin: 0 auto;
  min-width: 970px;
}

.push {
  height: 294px;
  display: block;
  width: 100%;
}

.row {
  min-width: 970px;
}

a {
  outline: none;
  color: #13b7a1;
  font-family: "Arial Narrow";
  font-size: 14px;
}
a:hover {
  color: #13b7a1;
}

.header {
  height: 170px;
}
.header .tools {
  height: 30px;
  background: #fff;
  display: block;
  width: 100%;
}
.header .tools .language a {
  color: #fff;
  font-family: "Arial Narrow";
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  background: #21a1aa;
  -webkit-transition: all 0.4s ease;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.header .tools .language a:hover {
  background: #10747c;
}
.header .tools .search {
  margin-right: 30px;
}
.header .tools .search form {
  position: relative;
  margin: 5px 0;
}
.header .tools .search form input[type="text"] {
  color: #13b7a1;
  font-family: "Arial Narrow";
  font-size: 14px;
  width: 80px;
  height: 20px;
  margin: 0 0 0;
  padding: 0 10px 0 25px;
  border: 1px solid #fff;
  background: transparent;
  -webkit-box-shadow: 0 0 0 white;
  -moz-box-shadow: 0 0 0 white;
  box-shadow: 0 0 0 white;
  -webkit-transition: all 0.8s ease;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
.header .tools .search form input[type="text"]::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #13b7a1;
}
.header .tools .search form input[type="text"]:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #13b7a1;
  opacity: 1;
}
.header .tools .search form input[type="text"]::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #13b7a1;
  opacity: 1;
}
.header .tools .search form input[type="text"]:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #13b7a1;
}
.header .tools .search form input[type="text"]:focus {
  border-color: #13b7a1;
  width: 300px;
}
.header .tools .search form button[type="submit"] {
  display: block;
  position: absolute;
  left: 5px;
  top: 2px;
  width: 17px;
  height: 17px;
  padding: 0 0;
  margin: 0 0 0;
  background: url("../img/icons/small/sprite.png") no-repeat 0 0 transparent;
}
.header .tools .links a.zoom {
  color: #fff;
  font-family: "Arial Narrow";
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  height: 30px;
  line-height: 26px;
  padding: 0 10px;
  margin: 0 0 0 25px;
  background: #000;
  border: 2px solid #000;
  -webkit-transition: all 0.4s ease;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.header .tools .links a.zoom:hover {
  background: #fff;
  color: #000;
}
.header .tools .links a.site-map {
  position: relative;
  margin: 0 0 0 30px;
}
.header .tools .links a.site-map:hover {
  color: #10747c;
}
.header .tools .links a.site-map:hover:after {
  background: url("../img/icons/small/sprite.png") no-repeat -18px -14px transparent;
}
.header .tools .links a.site-map:after {
  content: "";
  background: url("../img/icons/small/sprite.png") no-repeat -18px 0 transparent;
  width: 22px;
  height: 14px;
  display: block;
  position: absolute;
  left: -30px;
  top: 0;
}
.header .header-region {
  display: block;
  width: 100%;
  height: 84px;
  background: #e1f2ef;
}
.header .header-region .box-logo {
  margin: 6px 0 0 0;
}
.header .header-region .box-logo .site-name {
  margin: 9px 0 0 15px;
}
.header .header-region .box-logo .site-name h1 {
  color: #09a38f;
  font-family: "Arial Narrow";
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2;
  margin: 0 0 0;
  text-transform: uppercase;
}
.header .header-region .block-phone {
  margin: 18px 0 0;
}
.header .header-region .block-phone .box-label {
  display: block;
  float: left;
  margin-right: 15px;
}
.header .header-region .block-phone .box-label p {
  color: #000;
  font-family: "Arial Narrow";
  font-size: 14px;
  margin: 0 0;
  line-height: 3;
}
.header .header-region .block-phone .numbers {
  display: block;
  float: right;
}
.header .header-region .block-phone .numbers p {
  margin: 0 0;
  color: #000;
  font-family: "Arial Narrow";
  font-size: 16px;
  line-height: 1.5;
}
.header .header-region .social {
  display: block;
  float: left;
  list-style: none;
  margin: 26px 0 0 85px;
  text-align: center;
}
.header .header-region .social li {
  display: inline-block;
  margin: 0 2px;
}
.header .header-region .social li a {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #fff;
  position: relative;
  font-size: 0;
  vertical-align: top;
  -webkit-transition: all 0.4s ease;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.header .header-region .social li a:hover {
  background: #21a1aa;
}
.header .header-region .social li a.fb:hover:after {
  content: "";
  background: url("../img/icons/small/sprite.png") no-repeat -17px 0 transparent;
}
.header .header-region .social li a.fb:after {
  content: "";
  background: url("../img/icons/small/sprite.png") no-repeat -58px 0 transparent;
  width: 8px;
  height: 17px;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -8px 0 0 -4px;
}
.header .header-region .social li a.vk:hover:after {
  content: "";
  background: url("../img/icons/small/sprite.png") no-repeat -67px -14px transparent;
}
.header .header-region .social li a.vk:after {
  content: "";
  background: url("../img/icons/small/sprite.png") no-repeat -67px 0 transparent;
  width: 12px;
  height: 13px;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -6px 0 0 -6px;
}
.header .navigation {
  background: url("../img/menu-bg.jpg") no-repeat center top #239eab;
  height: 56px;
  display: block;
  width: 100%;
  position: relative;
}
.header .navigation .row {
  width: 970px;
  max-width: 970px;
  min-width: 970px;
  margin: 0 auto;
}
.header .navigation .row .small-12 {
  position: inherit;
}
.header .navigation ul.menu {
  margin: 0 0 0;
}
.header .navigation ul.menu > li {
  display: block;
  float: left;
  width: 20%;
}
.header .navigation ul.menu > li i {
  color: #fff;
  font-family: "Arial Narrow";
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  height: 56px;
  width: 100%;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.header .navigation ul.menu > li i:hover {
  background: #10747c;
}
.header .navigation ul.menu > li i:after {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0.1%;
}
.header .navigation ul.menu > li i.active {
  background: #10747c;
}
.header .navigation ul.menu > li i span {
  text-align: center;
  display: inline-block;
  max-width: 97.9%;
  vertical-align: middle;
  line-height: 1.2;
}
.header .navigation ul.menu > li .box-sub-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 56px;
  right: 0;
  z-index: 10;
  padding: 12px 0;
  background: #10757c;
  background: -moz-linear-gradient(top, #10757c 0%, #34a2ae 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #10757c), color-stop(100%, #34a2ae));
  background: -webkit-linear-gradient(top, #10757c 0%, #34a2ae 100%);
  background: -o-linear-gradient(top, #10757c 0%, #34a2ae 100%);
  background: -ms-linear-gradient(top, #10757c 0%, #34a2ae 100%);
  background: linear-gradient(to bottom, #10757c 0%, #34a2ae 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#10757c', endColorstr='#34a2ae', GradientType=0 );
}
.header .navigation ul.menu > li .box-sub-menu .item-menu {
  display: block;
  float: left;
  width: 33.333%;
  padding: 0 10px 0;
}
.header .navigation ul.menu > li .box-sub-menu .item-menu .title {
  color: #e0f1ef;
  font-family: "Arial Narrow";
  font-size: 16px;
  line-height: 1;
  font-weight: bold;
  margin: 0 0 10px 0;
}
.header .navigation ul.menu > li .box-sub-menu .item-menu ul.sub-menu {
  list-style: none;
  margin: 0 0 0;
  padding: 0 0;
}
.header .navigation ul.menu > li .box-sub-menu .item-menu ul.sub-menu li {
  display: inline-block;
  width: 100%;
  margin: 0 0 0;
  padding: 0 0 0 0;
}
.header .navigation ul.menu > li .box-sub-menu .item-menu ul.sub-menu li a {
  color: #e0f1ef;
  font-family: "Arial Narrow";
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  display: inline-block;
  position: relative;
  padding: 0 0 0 18px;
}
.header .navigation ul.menu > li .box-sub-menu .item-menu ul.sub-menu li a:hover {
  text-decoration: underline;
}
.header .navigation ul.menu > li .box-sub-menu .item-menu ul.sub-menu li a:before {
  content: "﹣";
  color: #e0f1ef;
  font-family: "Arial Narrow";
  font-size: 16px;
  line-height: 1;
  font-weight: normal;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
.header .navigation ul.menu > li .box-sub-menu .close {
  display: block;
  width: 17px;
  height: 17px;
  position: absolute;
  right: 10px;
  top: 10px;
  background: url("../img/icons/small/sprite.png") no-repeat -40px 0 transparent;
}

.footer {
  height: 294px;
  margin: 0 auto;
  padding: 0 0;
  width: 100%;
  margin-top: -294px;
}
.footer .top {
  padding: 12px 0;
  height: 207px;
  background: #bbe2e1;
  background: -moz-linear-gradient(top, #bbe2e1 0%, #e1f2ef 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #bbe2e1), color-stop(100%, #e1f2ef));
  background: -webkit-linear-gradient(top, #bbe2e1 0%, #e1f2ef 100%);
  background: -o-linear-gradient(top, #bbe2e1 0%, #e1f2ef 100%);
  background: -ms-linear-gradient(top, #bbe2e1 0%, #e1f2ef 100%);
  background: linear-gradient(to bottom, #bbe2e1 0%, #e1f2ef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbe2e1', endColorstr='#e1f2ef', GradientType=0 );
}
.footer .bottom {
  background: url("../img/footer-bg.jpg") no-repeat center top transparent;
  height: 87px;
  padding: 15px 0;
}
.footer .bottom .info p {
  color: #05414d;
  font-family: "Arial";
  font-size: 14px;
  line-height: 1.2;
  margin: 0 0 10px;
}
.footer .bottom .info a {
  color: #05414d;
  font-family: "Arial";
  font-size: 14px;
  text-decoration: underline;
}
.footer .bottom .info a:hover {
  text-decoration: none;
}
.footer .bottom .right .views {
  display: inline-block;
  width: 100%;
  margin: 0 0 10px;
}
.footer .bottom .right .website-creation {
  color: #fff;
  font-family: "Arial";
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 0;
}
.footer .bottom .right .website-creation a {
  color: #fff;
  text-decoration: underline;
}
.footer .bottom .right .website-creation a:hover {
  text-decoration: none;
}

.menu-footer ul {
  list-style: none;
  margin: 0 0;
  padding: 0 0;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 50px;
  -moz-column-gap: 50px;
  column-gap: 50px;
}
.menu-footer ul li {
  margin: 0 0 10px 0;
}
.menu-footer ul li a {
  display: inline-block;
  color: #137185;
  font-family: "Arial";
  font-size: 14px;
  line-height: 1.2;
  text-decoration: underline;
  margin: 0 0 0;
}
.menu-footer ul li a:hover {
  text-decoration: none;
}

.main {
  display: block;
  width: 100%;
}

.block-resources .block-title {
  background: url("../img/resources-title.jpg") no-repeat center top;
  height: 47px;
  width: 100%;
  margin: 0 0 0;
  color: #75ebd3;
  font-family: "Arial Narrow";
  font-size: 22px;
  font-weight: normal;
  text-align: center;
  line-height: 47px;
}
.block-resources .content {
  display: block;
  position: relative;
  width: 100%;
  height: 574px;
  background: url("../img/resources-map.png") no-repeat 163px 30px transparent;
}
.block-resources .content .item {
  display: block;
  position: absolute;
}
.block-resources .content .item a {
  color: #137185;
  font-family: "Arial Narrow";
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
  display: inline-block;
}
.block-resources .content .item a:hover {
  text-decoration: underline;
}
.block-resources .content .item .icon {
  float: left;
  margin: 0 22px 0 0;
}
.block-resources .content .item.item-1 {
  left: 56px;
  top: 40px;
}
.block-resources .content .item.item-1 a {
  margin: 13px 0;
}
.block-resources .content .item.item-2 {
  left: 10px;
  top: 170px;
}
.block-resources .content .item.item-2 a {
  margin: 3px 0;
}
.block-resources .content .item.item-3 {
  left: 10px;
  top: 330px;
}
.block-resources .content .item.item-3 a {
  margin: 34px 0 0;
}
.block-resources .content .item.item-4 {
  left: 120px;
  top: 454px;
}
.block-resources .content .item.item-4 a {
  margin: 34px 0 0;
}
.block-resources .content .item.item-5 {
  right: 90px;
  top: 40px;
}
.block-resources .content .item.item-5 a {
  margin: 15px 0 0;
}
.block-resources .content .item.item-6 {
  right: 30px;
  top: 140px;
}
.block-resources .content .item.item-6 .icon {
  margin: 0 15px 0 0;
}
.block-resources .content .item.item-6 a {
  margin: 24px 0 0;
}
.block-resources .content .item.item-7 {
  right: 0;
  top: 288px;
}
.block-resources .content .item.item-7 .icon {
  margin: 0 15px 0 0;
}
.block-resources .content .item.item-7 a {
  margin: 12px 0 0;
}
.block-resources .content .item.item-8 {
  right: 12px;
  top: 444px;
}
.block-resources .content .item.item-8 .icon {
  margin: 0 15px 0 0;
}
.block-resources .content .item.item-8 a {
  margin: 12px 0 0;
}
.block-resources .content .weather {
  background: url("../img/weather.png") no-repeat 0 0 transparent;
  display: block;
  width: 111px;
  height: 56px;
  position: absolute;
  left: 397px;
  top: 244px;
  text-align: center;
  padding: 8px 4px 10px 0px;
}
.block-resources .content .weather p.title {
  color: #0f5f4f;
  font-family: "Arial Narrow";
  font-size: 11px;
  line-height: 1;
  margin: 0 0 0;
}
.block-resources .content .weather .weather-info {
  display: inline-block;
  width: 100%;
}
.block-resources .content .weather .weather-info .temperature {
  display: inline-block;
  color: #0f5f4f;
  font-family: "Arial Narrow";
  font-size: 14px;
  line-height: 20px;
  margin: 0 5px;
}
.block-resources .content .weather .weather-info .img {
  display: inline-block;
  margin: 0 5px;
}

.icon.animal {
  display: block;
  width: 82px;
  height: 50px;
  background: url("../img/svg-icons/sourse/animal_resources.svg");
  -webkit-background-size: 82px 50px;
  -moz-background-size: 82px 50px;
  -o-background-size: 82px 50px;
  background-size: 82px 50px;
}
.icon.aquatic {
  display: block;
  width: 86px;
  height: 45px;
  background: url("../img/svg-icons/sourse/aquatic_biological_resources.svg");
  -webkit-background-size: 86px 45px;
  -moz-background-size: 86px 45px;
  -o-background-size: 86px 45px;
  background-size: 86px 45px;
}
.icon.hunting {
  display: block;
  width: 100px;
  height: 79px;
  background: url("../img/svg-icons/sourse/hunting_resources.svg");
  -webkit-background-size: 100px 79px;
  -moz-background-size: 100px 79px;
  -o-background-size: 100px 79px;
  background-size: 100px 79px;
}
.icon.forestry {
  display: block;
  width: 77px;
  height: 74px;
  background: url("../img/svg-icons/sourse/forestry.svg");
  -webkit-background-size: 77px 74px;
  -moz-background-size: 77px 74px;
  -o-background-size: 77px 74px;
  background-size: 77px 74px;
}
.icon.water {
  display: block;
  width: 91px;
  height: 63px;
  background: url("../img/svg-icons/sourse/water_resources.svg");
  -webkit-background-size: 91px 63px;
  -moz-background-size: 91px 63px;
  -o-background-size: 91px 63px;
  background-size: 91px 63px;
}
.icon.subsoil {
  display: block;
  width: 89px;
  height: 79px;
  background: url("../img/svg-icons/sourse/subsoil.svg");
  -webkit-background-size: 89px 79px;
  -moz-background-size: 89px 79px;
  -o-background-size: 89px 79px;
  background-size: 89px 79px;
}
.icon.protected {
  display: block;
  width: 78px;
  height: 65px;
  background: url("../img/svg-icons/sourse/protected_areas.svg");
  -webkit-background-size: 78px 65px;
  -moz-background-size: 78px 65px;
  -o-background-size: 78px 65px;
  background-size: 78px 65px;
}
.icon.book {
  display: block;
  width: 90px;
  height: 59px;
  background: url("../img/svg-icons/sourse/red_book.svg");
  -webkit-background-size: 90px 59px;
  -moz-background-size: 90px 59px;
  -o-background-size: 90px 59px;
  background-size: 90px 59px;
}
.icon.stop {
  display: block;
  width: 76px;
  height: 70px;
  background: url("../img/svg-icons/sourse/stop_corruption.svg") no-repeat center transparent;
  -webkit-background-size: auto 70px;
  -moz-background-size: auto 70px;
  -o-background-size: auto 70px;
  background-size: auto 70px;
}
.icon.help {
  display: block;
  width: 76px;
  height: 70px;
  background: url("../img/svg-icons/sourse/help_entrepreneurs.svg") no-repeat center transparent;
  -webkit-background-size: auto 70px;
  -moz-background-size: auto 70px;
  -o-background-size: auto 70px;
  background-size: auto 70px;
}
.icon.data {
  display: block;
  width: 76px;
  height: 70px;
  background: url("../img/svg-icons/sourse/open_data.svg") no-repeat center transparent;
  -webkit-background-size: auto 70px;
  -moz-background-size: auto 70px;
  -o-background-size: auto 70px;
  background-size: auto 70px;
}
.icon.question {
  display: block;
  width: 76px;
  height: 70px;
  background: url("../img/svg-icons/sourse/ask_question.svg") no-repeat center transparent;
  -webkit-background-size: auto 70px;
  -moz-background-size: auto 70px;
  -o-background-size: auto 70px;
  background-size: auto 70px;
}
.icon.evaluation {
  display: block;
  width: 76px;
  height: 70px;
  background: url("../img/svg-icons/sourse/evaluation.svg") no-repeat center transparent;
  -webkit-background-size: auto 70px;
  -moz-background-size: auto 70px;
  -o-background-size: auto 70px;
  background-size: auto 70px;
}
.icon.aid {
  display: block;
  width: 76px;
  height: 70px;
  background: url("../img/svg-icons/sourse/free_legal_aid.svg") no-repeat center transparent;
  -webkit-background-size: auto 70px;
  -moz-background-size: auto 70px;
  -o-background-size: auto 70px;
  background-size: auto 70px;
}

.baners-footer {
  margin-bottom: 20px;
}
.baners-footer .owl-carousel {
  padding: 0 12px;
  position: relative;
}
.baners-footer .owl-carousel .owl-wrapper .owl-item {
  text-align: center;
}
.baners-footer .owl-carousel .owl-controls .owl-prev {
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  background: url("../img/icons/small/sprite.png") no-repeat -80px 0 transparent;
  width: 8px;
  height: 15px;
  margin-top: -7px;
  font-size: 0px;
}
.baners-footer .owl-carousel .owl-controls .owl-next {
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  background: url("../img/icons/small/sprite.png") no-repeat -88px 0 transparent;
  width: 8px;
  height: 15px;
  margin-top: -7px;
  font-size: 0px;
}

.front-content .content {
  background: #fff;
}

.jspHorizontalBar {
  background: transparent;
  height: 10px;
}

.jspTrack {
  background: #d2e6ea;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  height: 10px;
}
.jspTrack .jspDrag {
  background: #81a4ae;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  height: 10px;
}

.block-news {
  display: inline-block;
  width: 100%;
  margin: 10px 0;
}
.block-news .block-title {
  color: #137185;
  font-family: "Arial Narrow";
  font-size: 24px;
  line-height: 1;
  margin: 0 0 20px;
}
.block-news .news-scroll {
  height: 285px;
  max-height: 295px;
  outline: none;
}
.block-news .news-scroll .news-item {
  display: block;
  position: relative;
  float: left;
  width: 316px;
  min-height: 255px;
  padding: 0 15px 16px 0;
}
.block-news .news-scroll .news-item .date {
  height: 24px;
  background-color: #137185;
  display: block;
  float: left;
  padding: 0 8px;
  color: #fff;
  font-family: "Arial Narrow";
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  margin: 0 0 5px;
}
.block-news .news-scroll .news-item .img {
  display: inline-block;
  width: 100%;
  margin: 0 0 5px;
}
.block-news .news-scroll .news-item .title {
  display: inline-block;
  width: 100%;
  margin: 0 0 5px;
}
.block-news .news-scroll .news-item .title a {
  color: #137185;
  font-family: "Arial";
  font-size: 15px;
  text-decoration: underline;
  line-height: 1.1;
  display: inline-block;
}
.block-news .news-scroll .news-item .title a:hover {
  text-decoration: none;
}
.block-news .news-scroll .news-item .body {
  display: inline-block;
  width: 100%;
  margin: 0 0 0;
}
.block-news .news-scroll .news-item .body p {
  color: #000;
  font-family: "Arial";
  font-size: 14px;
  line-height: 1.2;
  margin: 0 0 0;
}
.block-news .news-scroll .news-item .more {
  display: block;
  line-height: 16px;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  font-size: 0px;
}
.block-news .news-scroll .news-item .more span {
  display: inline-block;
  margin: 0 2px;
  font-size: 0px;
  width: 5px;
  height: 5px;
  background: #14b7a2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.block-news .all-news {
  text-align: left;
  display: inline-block;
  width: 100%;
  margin: 5px 0 25px;
}
.block-news .all-news a {
  color: #137185;
  font-family: "Arial";
  font-size: 14px;
  text-decoration: underline;
  display: inline-block;
}
.block-news .all-news a:hover {
  text-decoration: none;
}

.block-dop-menu {
  margin: 0 0 50px;
}
.block-dop-menu ul.menu {
  display: inline-block;
  width: 100%;
  margin: 0 0 0;
}
.block-dop-menu ul.menu li {
  display: block;
  float: left;
  width: 33.3333%;
}
.block-dop-menu ul.menu li a {
  display: block;
  position: relative;
  width: 100%;
  height: 90px;
  padding: 0 0 0 96px;
  background: #fff;
  -webkit-transition: all 0.4s ease;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.block-dop-menu ul.menu li a:hover {
  background: #147185;
}
.block-dop-menu ul.menu li a:hover .text {
  color: #fff;
}
.block-dop-menu ul.menu li a:hover .stop {
  background: url("../img/svg-icons/sourse/stop_corruption-active.svg") no-repeat center transparent;
  -webkit-background-size: auto 70px;
  -moz-background-size: auto 70px;
  -o-background-size: auto 70px;
  background-size: auto 70px;
}
.block-dop-menu ul.menu li a:hover .help {
  background: url("../img/svg-icons/sourse/help_entrepreneurs-active.svg") no-repeat center transparent;
  -webkit-background-size: auto 70px;
  -moz-background-size: auto 70px;
  -o-background-size: auto 70px;
  background-size: auto 70px;
}
.block-dop-menu ul.menu li a:hover .data {
  background: url("../img/svg-icons/sourse/open_data-active.svg") no-repeat center transparent;
  -webkit-background-size: auto 70px;
  -moz-background-size: auto 70px;
  -o-background-size: auto 70px;
  background-size: auto 70px;
}
.block-dop-menu ul.menu li a:hover .question {
  background: url("../img/svg-icons/sourse/ask_question-active.svg") no-repeat center transparent;
  -webkit-background-size: auto 70px;
  -moz-background-size: auto 70px;
  -o-background-size: auto 70px;
  background-size: auto 70px;
}
.block-dop-menu ul.menu li a:hover .evaluation {
  background: url("../img/svg-icons/sourse/evaluation-active.svg") no-repeat center transparent;
  -webkit-background-size: auto 70px;
  -moz-background-size: auto 70px;
  -o-background-size: auto 70px;
  background-size: auto 70px;
}
.block-dop-menu ul.menu li a:hover .aid {
  background: url("../img/svg-icons/sourse/free_legal_aid-active.svg") no-repeat center transparent;
  -webkit-background-size: auto 70px;
  -moz-background-size: auto 70px;
  -o-background-size: auto 70px;
  background-size: auto 70px;
}
.block-dop-menu ul.menu li a:after {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0.1%;
}
.block-dop-menu ul.menu li a .icon {
  position: absolute;
  display: block;
  left: 0;
  top: 10px;
}
.block-dop-menu ul.menu li a .text {
  display: inline-block;
  max-width: 97.9%;
  vertical-align: middle;
  color: #137185;
  font-family: "Arial";
  font-size: 16px;
  text-decoration: underline;
  line-height: 1.2;
}
.block-dop-menu ul.menu li a .icon {
  left: 10px;
  top: 10px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 192dpi) {
  /* Style Rules */
  .header .tools .search form button[type="submit"] {
    background: url("../img/icons/large/sprite.png") no-repeat 0 0 transparent;
    -webkit-background-size: 200px auto;
    -moz-background-size: 200px auto;
    -o-background-size: 200px auto;
    background-size: 200px auto;
  }
  .header .tools .links a.site-map:hover:after {
    content: "";
    background: url("../img/icons/large/sprite.png") no-repeat -17px -15px transparent;
    -webkit-background-size: 200px;
    -moz-background-size: 200px;
    -o-background-size: 200px;
    background-size: 200px;
    width: 22px;
  }
  .header .tools .links a.site-map:after {
    content: "";
    background: url("../img/icons/large/sprite.png") no-repeat -17px 0 transparent;
    -webkit-background-size: 200px auto;
    -moz-background-size: 200px auto;
    -o-background-size: 200px auto;
    background-size: 200px auto;
    width: 22px;
  }
  .header .header-region .social li a.fb:hover:after {
    content: "";
    background: url("../img/icons/large/sprite.png") no-repeat -56px -17px transparent;
    -webkit-background-size: 200px;
    -moz-background-size: 200px;
    -o-background-size: 200px;
    background-size: 200px;
  }
  .header .header-region .social li a.fb:after {
    background: url("../img/icons/large/sprite.png") no-repeat -56px 0 transparent;
    -webkit-background-size: 200px;
    -moz-background-size: 200px;
    -o-background-size: 200px;
    background-size: 200px;
    width: 8px;
    height: 17px;
  }
  .header .header-region .social li a.vk:hover:after {
    background: url("../img/icons/large/sprite.png") no-repeat -65px -13px transparent;
    -webkit-background-size: 200px;
    -moz-background-size: 200px;
    -o-background-size: 200px;
    background-size: 200px;
  }
  .header .header-region .social li a.vk:after {
    background: url("../img/icons/large/sprite.png") no-repeat -65px 0 transparent;
    -webkit-background-size: 200px;
    -moz-background-size: 200px;
    -o-background-size: 200px;
    background-size: 200px;
    width: 12px;
    height: 13px;
  }
  .header .navigation ul.menu > li .box-sub-menu .close {
    background: url("../img/icons/large/sprite.png") no-repeat -39px 0 transparent;
    -webkit-background-size: 200px auto;
    -moz-background-size: 200px auto;
    -o-background-size: 200px auto;
    background-size: 200px auto;
  }

  .block-resources .content .weather {
    background: url("../img/weather@2x.png") no-repeat 0 0 transparent;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
  }
}
