@charset "UTF-8";
body {
  background: url("../img/bg.jpg") no-repeat center 170px transparent;
  font-size: 16px;
}

html, body {
  height: 100%;
  min-width: 970px;
}

a {
  outline: none;
}

.hidden {
  opacity: 0;
}

.page {
  min-height: 100%;
  overflow: hidden;
}
.page .container {
  min-height: 100%;
  margin: 0 auto;
  min-width: 970px;
  background-color: #fff;
}

.push {
  height: 294px;
  display: block;
  width: 100%;
}

.row {
  min-width: 970px;
}

a {
  outline: none;
  color: #13b7a1;
  font-family: "Arial Narrow";
  font-size: 14px;
}
a:hover {
  color: #13b7a1;
}

.header {
  height: 170px;
}
.header .tools {
  height: 30px;
  background: #fff;
  display: block;
  width: 100%;
}
.header .tools .language a {
  color: #fff;
  font-family: "Arial Narrow";
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  background: #21a1aa;
  -webkit-transition: all 0.4s ease;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.header .tools .language a:hover {
  background: #16b3a4;
}
.header .tools .search {
  margin-right: 30px;
}
.header .tools .search form {
  position: relative;
  margin: 5px 0;
}
.header .tools .search form input[type="text"] {
  color: #13b7a1;
  font-family: "Arial Narrow";
  font-size: 14px;
  width: 80px;
  height: 20px;
  margin: 0 0 0;
  padding: 0 10px 0 25px;
  border: 1px solid #fff;
  background: transparent;
  -webkit-box-shadow: 0 0 0 white;
  -moz-box-shadow: 0 0 0 white;
  box-shadow: 0 0 0 white;
  -webkit-transition: all 0.8s ease;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
.header .tools .search form input[type="text"]::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #13b7a1;
}
.header .tools .search form input[type="text"]:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #13b7a1;
  opacity: 1;
}
.header .tools .search form input[type="text"]::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #13b7a1;
  opacity: 1;
}
.header .tools .search form input[type="text"]:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #13b7a1;
}
.header .tools .search form input[type="text"]:focus {
  border-color: #13b7a1;
  width: 300px;
}
.header .tools .search form button[type="submit"] {
  display: block;
  position: absolute;
  left: 5px;
  top: 2px;
  width: 17px;
  height: 17px;
  padding: 0 0;
  margin: 0 0 0;
  background: url("../img/icons/small/sprite.png") no-repeat 0 0 transparent;
}
.header .tools .links a.zoom {
  color: #fff;
  font-family: "Arial Narrow";
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  margin: 0 0 0 25px;
  background: #000;
  -webkit-transition: all 0.4s ease;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.header .tools .links a.zoom:hover {
  background: #16b3a4;
}
.header .tools .links a.site-map {
  position: relative;
  margin: 0 0 0 30px;
}
.header .tools .links a.site-map:hover {
  text-decoration: underline;
}
.header .tools .links a.site-map:after {
  content: "";
  background: url("../img/icons/small/sprite.png") no-repeat -18px 0 transparent;
  width: 21px;
  height: 13px;
  display: block;
  position: absolute;
  left: -30px;
  top: 0;
}
.header .header-region {
  display: block;
  width: 100%;
  height: 84px;
  background: #e1f2ef;
}
.header .header-region .box-logo {
  margin: 6px 0 0 0;
}
.header .header-region .box-logo .site-name {
  margin: 9px 0 0 15px;
}
.header .header-region .box-logo .site-name h1 {
  color: #09a38f;
  font-family: "Arial Narrow";
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2;
  margin: 0 0 0;
  text-transform: uppercase;
}
.header .header-region .block-phone {
  margin: 18px 0 0;
}
.header .header-region .block-phone .box-label {
  display: block;
  float: left;
  margin-right: 15px;
}
.header .header-region .block-phone .box-label p {
  color: #000;
  font-family: "Arial Narrow";
  font-size: 14px;
  margin: 0 0;
  line-height: 3;
}
.header .header-region .block-phone .numbers {
  display: block;
  float: right;
}
.header .header-region .block-phone .numbers p {
  margin: 0 0;
  color: #000;
  font-family: "Arial Narrow";
  font-size: 16px;
  line-height: 1.5;
}
.header .header-region .social {
  display: block;
  float: left;
  list-style: none;
  margin: 26px 0 0 85px;
  text-align: center;
}
.header .header-region .social li {
  display: inline-block;
  margin: 0 2px;
}
.header .header-region .social li a {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #fff;
}
.header .navigation {
  background: url("../img/menu-bg.jpg") no-repeat center top #239eab;
  height: 56px;
  display: block;
  width: 100%;
  position: relative;
}
.header .navigation .row {
  width: 970px;
  max-width: 970px;
  min-width: 970px;
  margin: 0 auto;
}
.header .navigation .row .small-12 {
  position: inherit;
}
.header .navigation ul.menu {
  margin: 0 0 0;
}
.header .navigation ul.menu > li {
  display: block;
  float: left;
  width: 20%;
}
.header .navigation ul.menu > li i {
  color: #fff;
  font-family: "Arial Narrow";
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  height: 56px;
  width: 100%;
  display: inline-block;
  text-align: center;
  -webkit-transition: all 0.4s ease;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.header .navigation ul.menu > li i:hover {
  background: #10747c;
}
.header .navigation ul.menu > li i:after {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0.1%;
}
.header .navigation ul.menu > li i span {
  text-align: center;
  display: inline-block;
  max-width: 97.9%;
  vertical-align: middle;
  line-height: 1.2;
}
.header .navigation ul.menu > li .box-sub-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 56px;
  right: 0;
  z-index: 10;
  padding: 12px 0;
  background: #10757c;
  background: -moz-linear-gradient(top, #10757c 0%, #34a2ae 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #10757c), color-stop(100%, #34a2ae));
  background: -webkit-linear-gradient(top, #10757c 0%, #34a2ae 100%);
  background: -o-linear-gradient(top, #10757c 0%, #34a2ae 100%);
  background: -ms-linear-gradient(top, #10757c 0%, #34a2ae 100%);
  background: linear-gradient(to bottom, #10757c 0%, #34a2ae 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#10757c', endColorstr='#34a2ae', GradientType=0 );
}
.header .navigation ul.menu > li .box-sub-menu .item-menu {
  display: block;
  float: left;
  width: 33.333%;
  padding: 0 10px 0;
}
.header .navigation ul.menu > li .box-sub-menu .item-menu .title {
  color: #e0f1ef;
  font-family: "Arial Narrow";
  font-size: 16px;
  line-height: 1;
  font-weight: bold;
  margin: 0 0 10px 0;
}
.header .navigation ul.menu > li .box-sub-menu .item-menu ul.sub-menu {
  list-style: none;
  margin: 0 0 0;
  padding: 0 0;
}
.header .navigation ul.menu > li .box-sub-menu .item-menu ul.sub-menu li {
  display: inline-block;
  width: 100%;
  margin: 0 0 0;
  padding: 0 0 0 0;
}
.header .navigation ul.menu > li .box-sub-menu .item-menu ul.sub-menu li a {
  color: #e0f1ef;
  font-family: "Arial Narrow";
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  display: inline-block;
  position: relative;
  padding: 0 0 0 18px;
}
.header .navigation ul.menu > li .box-sub-menu .item-menu ul.sub-menu li a:hover {
  text-decoration: underline;
}
.header .navigation ul.menu > li .box-sub-menu .item-menu ul.sub-menu li a:before {
  content: "﹣";
  color: #e0f1ef;
  font-family: "Arial Narrow";
  font-size: 16px;
  line-height: 1;
  font-weight: normal;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.footer {
  height: 294px;
  margin: 0 auto;
  padding: 0 0;
  width: 100%;
  margin-top: -294px;
}
.footer .top {
  height: 207px;
  background: #bbe2e1;
  background: -moz-linear-gradient(top, #bbe2e1 0%, #e1f2ef 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #bbe2e1), color-stop(100%, #e1f2ef));
  background: -webkit-linear-gradient(top, #bbe2e1 0%, #e1f2ef 100%);
  background: -o-linear-gradient(top, #bbe2e1 0%, #e1f2ef 100%);
  background: -ms-linear-gradient(top, #bbe2e1 0%, #e1f2ef 100%);
  background: linear-gradient(to bottom, #bbe2e1 0%, #e1f2ef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbe2e1', endColorstr='#e1f2ef', GradientType=0 );
}
.footer .bottom {
  background: url("../img/footer-bg.jpg") no-repeat center top transparent;
  height: 87px;
}

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
  .icon {
    background-image: url(example2x.png);
  }

  .header .tools .search form button[type="submit"] {
    background: url("../img/icons/large/sprite.png") no-repeat 0 0 transparent;
    -webkit-background-size: 200px auto;
    -moz-background-size: 200px auto;
    -o-background-size: 200px auto;
    background-size: 200px auto;
  }
  .header .tools .links a.site-map:after {
    content: "";
    background: url("../img/icons/large/sprite.png") no-repeat -17px 0 transparent;
    -webkit-background-size: 200px auto;
    -moz-background-size: 200px auto;
    -o-background-size: 200px auto;
    background-size: 200px auto;
    width: 22px;
  }
}
