@import "compass";

body {
  background: url("../img/bg.jpg") no-repeat center 170px #e5efd9;
  font-family: "Arial Narrow";
  font-size: 16px;
  &.not-front {
    background: url("../img/not-front-bg.jpg") no-repeat center top #e5efd9;
  }
}

html, body {
  height: 100%;
  min-width: 970px;
}

a {
  outline: none;
}

p {
  color: #000; // text color
  font-family: "Arial";
  font-size: 16px;
  line-height: 1.2;
  margin: 0 0 15px;
  a {
    color: #147185;
    font-family: "Arial";
    font-size: 16px;
    line-height: 1.2;
    text-decoration: underline;
    &:hover {
      color: #147185;
      text-decoration: none;
    }
  }
}

.hidden {
  opacity:0;
}

.page {
  min-height: 100%;
  overflow: hidden;
  .container {
    min-height: 100%;
    margin: 0 auto;
    min-width: 970px;
  }
}

.push {
  height: 294px;
  display: block;
  width: 100%;
}

.row {
  min-width: 970px;
}

a {
  outline: none;
  color: #13b7a1;
  font-family: "Arial Narrow";
  font-size: 14px;
  &:hover {
    color: #13b7a1;
  }
}

#page-title {
  margin: 10px 0 30px;
  color: #137185; // text color
  font-family: "Arial Narrow";
  font-size: 30px;
  line-height: 1.2;
}

.header {
  height: 170px;
  .tools {
    height: 30px;
    background: #fff;
    display: block;
    width: 100%;
    .language {
      a {
        color: #fff; // text color
        font-family: "Arial Narrow";
        font-size: 14px;
        font-weight: bold;
        display: inline-block;
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        background: #21a1aa;
        @include transition(all 0.4s ease 0s);
        &:hover {
          background: #10747c;
        }
      }
    }
    .search {
      margin-right: 30px;
      form {
        position: relative;
        margin: 5px 0;
        input[type="text"] {
          color: #13b7a1; // text color
          font-family: "Arial Narrow";
          font-size: 14px;
          width: 80px;
          height: 20px;
          margin: 0 0 0;
          padding: 0 10px 0 25px;
          border: 1px solid #fff;
          background: transparent;
          @include box-shadow(0 0 0 #fff);
          @include transition(all 0.8s ease 0s);
          &::-webkit-input-placeholder { /* WebKit browsers */
            color: #13b7a1;
          }
          &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color: #13b7a1;
            opacity:  1;
          }
          &::-moz-placeholder { /* Mozilla Firefox 19+ */
            color: #13b7a1;
            opacity:  1;
          }
          &:-ms-input-placeholder { /* Internet Explorer 10+ */
            color: #13b7a1;
          }
          &:focus {
            border-color: #13b7a1;
            width: 300px;
          }
        }
        button[type="submit"] {
          display: block;
          position: absolute;
          left: 5px;
          top: 2px;
          width: 17px;
          height: 17px;
          padding: 0 0;
          margin: 0 0 0;
          background: url("../img/icons/small/sprite.png") no-repeat 0 0 transparent;
        }
      }
    }
    .links {
      a.zoom {
        color: #fff; // text color
        font-family: "Arial Narrow";
        font-size: 14px;
        font-weight: bold;
        display: inline-block;
        height: 30px;
        line-height: 26px;
        padding: 0 10px;
        margin: 0 0 0 25px;
        background: #000;
        border: 2px solid #000;
        @include transition(all 0.4s ease 0s);
        &:hover {
          background: #fff;
          color: #000;
        }
      }
      a.site-map {
        position: relative;
        margin: 0 0 0 30px;
        &:hover {
          color: #10747c;
          &:after {
            background: url("../img/icons/small/sprite.png") no-repeat -18px -14px transparent;
          }
        }
        &:after {
          content: "";
          background: url("../img/icons/small/sprite.png") no-repeat -18px 0 transparent;
          width: 22px;
          height: 14px;
          display: block;
          position: absolute;
          left: -30px;
          top: 0;
        }
      }
    }
  }
  .header-region {
    display: block;
    width: 100%;
    height: 84px;
    background: #e1f2ef;
    .box-logo {
      margin: 6px 0 0 0;
      .site-name {
        margin: 9px 0 0 15px;
        h1 {
          color: #09a38f;
          font-family: "Arial Narrow";
          font-size: 22px;
          font-weight: bold;
          line-height: 1.2;
          margin: 0 0 0;
          text-transform: uppercase;
        }
      }
    }
    .block-phone {
      margin: 18px 0 0;
      .box-label {
        display: block;
        float: left;
        margin-right: 15px;
        p {
          color: #000;
          font-family: "Arial Narrow";
          font-size: 14px;
          margin: 0 0;
          line-height: 3;
        }
      }
      .numbers {
        display: block;
        float: right;
        p {
          margin: 0 0;
          color: #000; // text color
          font-family: "Arial Narrow";
          font-size: 16px;
          line-height: 1.5;
        }
      }
    }
    .social {
      display: block;
      float: left;
      list-style: none;
      margin: 26px 0 0 85px;
      text-align: center;
      li {
        display: inline-block;
        margin: 0 2px;
        a {
          display: inline-block;
          width: 30px;
          height: 30px;
          background: #fff;
          position: relative;
          font-size: 0;
          vertical-align: top;
          @include transition(all 0.4s ease 0s);
          &:hover {
            background: #21a1aa;
          }
          &.fb {
            &:hover {
              &:after {
                content: "";
                background: url("../img/icons/small/sprite.png") no-repeat -17px 0 transparent;
              }
            }
            &:after {
              content: "";
              background: url("../img/icons/small/sprite.png") no-repeat -58px 0 transparent;
              width: 8px;
              height: 17px;
              display: block;
              position: absolute;
              left: 50%;
              top: 50%;
              margin: -8px 0 0 -4px;
            }
          }
          &.vk {
            &:hover {
              &:after {
                content: "";
                background: url("../img/icons/small/sprite.png") no-repeat -67px -14px transparent;
              }
            }
            &:after {
              content: "";
              background: url("../img/icons/small/sprite.png") no-repeat -67px 0 transparent;
              width: 12px;
              height: 13px;
              display: block;
              position: absolute;
              left: 50%;
              top: 50%;
              margin: -6px 0 0 -6px;
            }
          }
        }
      }
    }
  }
  .navigation {
    background: url("../img/menu-bg.jpg") no-repeat center top #239eab;
    height: 56px;
    display: block;
    width: 100%;
    position: relative;
    .row {
      width: 970px;
      max-width: 970px;
      min-width: 970px;
      margin: 0 auto;
      .small-12 {
        position: inherit;
      }
    }
    ul.menu {
      margin: 0 0 0;
      > li {
        display: block;
        float: left;
        width: 20%;
        i {
          color: #fff;
          font-family: "Arial Narrow";
          font-size: 18px;
          font-weight: bold;
          font-style: normal;
          height: 56px;
          width: 100%;
          display: inline-block;
          text-align: center;
          cursor: pointer;
          @include transition(all 0.4s ease 0s);
          &:hover {
            background: #10747c;
          }
          &:after {
            content: "";
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            width: 0.1%;
          }
          &.active {
            background: #10747c;
          }
          span {
            text-align: center;
            display: inline-block;
            max-width: 97.9%;
            vertical-align: middle;
            line-height: 1.2;
          }
        }
        .box-sub-menu {
          display: none;
          position: absolute;
          left: 0;
          top: 56px;
          right: 0;
          z-index: 10;
          padding: 12px 0;
          background: #10757c;
          background: -moz-linear-gradient(top, #10757c 0%, #34a2ae 100%);
          background: -webkit-gradient(left top, left bottom, color-stop(0%, #10757c), color-stop(100%, #34a2ae));
          background: -webkit-linear-gradient(top, #10757c 0%, #34a2ae 100%);
          background: -o-linear-gradient(top, #10757c 0%, #34a2ae 100%);
          background: -ms-linear-gradient(top, #10757c 0%, #34a2ae 100%);
          background: linear-gradient(to bottom, #10757c 0%, #34a2ae 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#10757c', endColorstr='#34a2ae', GradientType=0 );
          .item-menu {
            display: block;
            float: left;
            width: 33.333%;
            padding: 0 10px 0;
            .title {
              color: #e0f1ef;
              font-family: "Arial Narrow";
              font-size: 16px;
              line-height: 1;
              font-weight: bold;
              margin: 0 0 10px 0;
            }
            ul.sub-menu {
              list-style: none;
              margin: 0 0 0;
              padding: 0 0;
              li {
                display: inline-block;
                width: 100%;
                margin: 0 0 0;
                padding: 0 0 0 0;
                a {
                  color: #e0f1ef;
                  font-family: "Arial Narrow";
                  font-size: 16px;
                  line-height: 1.2;
                  font-weight: normal;
                  display: inline-block;
                  position: relative;
                  padding: 0 0 0 18px;
                  &:hover {
                    text-decoration: underline;
                  }
                  &:before {
                    content: "﹣";
                    color: #e0f1ef;
                    font-family: "Arial Narrow";
                    font-size: 16px;
                    line-height: 1;
                    font-weight: normal;
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                  }
                }
              }
            }
          }
          .close {
            display: block;
            width: 17px;
            height: 17px;
            position: absolute;
            right: 10px;
            top: 10px;
            background: url("../img/icons/small/sprite.png") no-repeat -40px 0 transparent;
          }
        }
      }
    }
  }
}

.footer {
  height: 294px;
  margin: 0 auto;
  padding: 0 0;
  width: 100%;
  margin-top: -294px;
  .top {
    padding: 12px 0;
    height: 207px;
    background: #bbe2e1;
    background: -moz-linear-gradient(top, #bbe2e1 0%, #e1f2ef 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #bbe2e1), color-stop(100%, #e1f2ef));
    background: -webkit-linear-gradient(top, #bbe2e1 0%, #e1f2ef 100%);
    background: -o-linear-gradient(top, #bbe2e1 0%, #e1f2ef 100%);
    background: -ms-linear-gradient(top, #bbe2e1 0%, #e1f2ef 100%);
    background: linear-gradient(to bottom, #bbe2e1 0%, #e1f2ef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbe2e1', endColorstr='#e1f2ef', GradientType=0 );
  }
  .bottom {
    background: url("../img/footer-bg.jpg") no-repeat center top transparent;
    height: 87px;
    padding: 15px 0;
    .info {
      p {
        color: #05414d; // text color
        font-family: "Arial";
        font-size: 14px;
        line-height: 1.2;
        margin: 0 0 10px;
      }
      a {
        color: #05414d; // text color
        font-family: "Arial";
        font-size: 14px;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .right {
      .views {
        display: inline-block;
        width: 100%;
        margin: 0 0 10px;
      }
      .website-creation {
        color: #fff;
        font-family: "Arial";
        font-size: 12px;
        font-weight: bold;
        line-height: 1;
        margin: 0 0 0;
        a {
          color: #fff;
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}

.menu-footer {
  ul {
    list-style: none;
    margin: 0 0;
    padding: 0 0;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 50px;
    -moz-column-gap: 50px;
    column-gap: 50px;
    li {
      margin: 0 0 10px 0;
      a {
        display: inline-block;
        color: #137185; // text color
        font-family: "Arial";
        font-size: 14px;
        line-height: 1.2;
        text-decoration: underline;
        margin: 0 0 0;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.main {
  display: block;
  width: 100%;
  .main-content {
    .page-container {
      background: #fff;
      padding: 4px;
      display: inline-block;
      width: 100%;
      margin: 0 0 -6px;
      .sidebar-left {
        display: block;
        float: left;
        width: 235px;
      }
      .box-content {
        display: block;
        float: right;
        width: 703px;
        padding: 0 11px 0 15px;
      }
    }
  }
}

.block-resources {
  .block-title {
    background: url("../img/resources-title.jpg") no-repeat center top;
    height: 47px;
    width: 100%;
    margin: 0 0 0;
    color: #75ebd3;
    font-family: "Arial Narrow";
    font-size: 22px;
    font-weight: normal;
    text-align: center;
    line-height: 47px;
  }
  .content {
    display: block;
    position: relative;
    width: 100%;
    height: 574px;
    background: url("../img/resources-map.png") no-repeat 163px 30px transparent;
    .item {
      display: block;
      position: absolute;
      a {
        color: #137185; // text color
        font-family: "Arial Narrow";
        font-size: 16px;
        font-weight: bold;
        line-height: 1.2;
        display: inline-block;
        &:hover {
          text-decoration: underline;
        }
      }
      .icon {
        float: left;
        margin: 0 22px 0 0;
      }
      &.item-1 {
        left: 56px;
        top: 40px;
        a {
          margin: 13px 0;
        }
      }
      &.item-2 {
        left: 10px;
        top: 170px;
        a {
          margin: 3px 0;
        }
      }
      &.item-3 {
        left: 10px;
        top: 330px;
        a {
          margin: 34px 0 0;
        }
      }
      &.item-4 {
        left: 120px;
        top: 454px;
        a {
          margin: 34px 0 0;
        }
      }
      &.item-5 {
        right: 90px;
        top: 40px;
        a {
          margin: 15px 0 0;
        }
      }
      &.item-6 {
        right: 30px;
        top: 140px;
        .icon {
          margin: 0 15px 0 0;
        }
        a {
          margin: 24px 0 0;
        }
      }
      &.item-7 {
        right: 0;
        top: 288px;
        .icon {
          margin: 0 15px 0 0;
        }
        a {
          margin: 12px 0 0;
        }
      }
      &.item-8 {
        right: 12px;
        top: 444px;
        .icon {
          margin: 0 15px 0 0;
        }
        a {
          margin: 12px 0 0;
        }
      }
    }
    .weather {
      background: url("../img/weather.png") no-repeat 0 0 transparent;
      display: block;
      width: 111px;
      height: 56px;
      position: absolute;
      left: 397px;
      top: 244px;
      text-align: center;
      padding: 8px 4px 10px 0px;
      p.title {
        color: #0f5f4f; // text color
        font-family: "Arial Narrow";
        font-size: 11px;
        line-height: 1;
        margin: 0 0 0;
      }
      .weather-info {
        display: inline-block;
        width: 100%;
        .temperature {
          display: inline-block;
          color: #0f5f4f; // text color
          font-family: "Arial Narrow";
          font-size: 14px;
          line-height: 20px;
          margin: 0 5px;
        }
        .img {
          display: inline-block;
          margin: 0 5px;
        }
      }
    }
  }
}

.icon {
  &.animal {
    display: block;
    width: 82px;
    height: 50px;
    background: url('../img/svg-icons/sourse/animal_resources.svg');
    @include background-size(82px 50px);
  }
  &.aquatic {
    display: block;
    width: 86px;
    height: 45px;
    background: url('../img/svg-icons/sourse/aquatic_biological_resources.svg');
    @include background-size(86px 45px);
  }
  &.hunting {
    display: block;
    width: 100px;
    height: 79px;
    background: url('../img/svg-icons/sourse/hunting_resources.svg');
    @include background-size(100px 79px);
  }
  &.forestry {
    display: block;
    width: 77px;
    height: 74px;
    background: url('../img/svg-icons/sourse/forestry.svg');
    @include background-size(77px 74px);
  }
  &.water {
    display: block;
    width: 91px;
    height: 63px;
    background: url('../img/svg-icons/sourse/water_resources.svg');
    @include background-size(91px 63px);
  }
  &.subsoil {
    display: block;
    width: 89px;
    height: 79px;
    background: url('../img/svg-icons/sourse/subsoil.svg');
    @include background-size(89px 79px);
  }
  &.protected {
    display: block;
    width: 78px;
    height: 65px;
    background: url('../img/svg-icons/sourse/protected_areas.svg');
    @include background-size(78px 65px);
  }
  &.book {
    display: block;
    width: 90px;
    height: 59px;
    background: url('../img/svg-icons/sourse/red_book.svg');
    @include background-size(90px 59px);
  }
  &.stop {
    display: block;
    width: 76px;
    height: 70px;
    background: url('../img/svg-icons/sourse/stop_corruption.svg') no-repeat center transparent;
    @include background-size(auto 70px);
  }
  &.help {
    display: block;
    width: 76px;
    height: 70px;
    background: url('../img/svg-icons/sourse/help_entrepreneurs.svg') no-repeat center transparent;
    @include background-size(auto 70px);
  }
  &.data {
    display: block;
    width: 76px;
    height: 70px;
    background: url('../img/svg-icons/sourse/open_data.svg') no-repeat center transparent;
    @include background-size(auto 70px);
  }
  &.question {
    display: block;
    width: 76px;
    height: 70px;
    background: url('../img/svg-icons/sourse/ask_question.svg') no-repeat center transparent;
    @include background-size(auto 70px);
  }
  &.evaluation {
    display: block;
    width: 76px;
    height: 70px;
    background: url('../img/svg-icons/sourse/evaluation.svg') no-repeat center transparent;
    @include background-size(auto 70px);
  }
  &.aid {
    display: block;
    width: 76px;
    height: 70px;
    background: url('../img/svg-icons/sourse/free_legal_aid.svg') no-repeat center transparent;
    @include background-size(auto 70px);
  }
}

.baners-footer {
  margin-bottom: 20px;
  .owl-carousel {
    padding: 0 12px;
    position: relative;
    .owl-wrapper {
      .owl-item {
        text-align: center;
      }
    }
    .owl-controls {
      .owl-prev {
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        background: url("../img/icons/small/sprite.png") no-repeat -80px 0 transparent;
        width: 8px;
        height: 15px;
        margin-top: -7px;
        font-size: 0px;
        &:hover {
          background: url('../img/icons/small/sprite.png') no-repeat -80px -16px transparent;
        }
      }
      .owl-next {
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        background: url("../img/icons/small/sprite.png") no-repeat -88px 0 transparent;
        width: 8px;
        height: 15px;
        margin-top: -7px;
        font-size: 0px;
        &:hover {
          background: url('../img/icons/small/sprite.png') no-repeat -88px -16px transparent;
        }
      }
    }
  }
}

.front-content {
  .content {
    background: #fff;
  }
}

.jspHorizontalBar {
  background: transparent;
  height: 10px;
}
.jspTrack {
  background: #d2e6ea;
  @include border-radius(3px);
  height: 10px;
  .jspDrag {
    background: #81a4ae;
    @include border-radius(3px);
    height: 10px;
  }
}

.block-news {
  display: inline-block;
  width: 100%;
  margin: 10px 0;
  .block-title {
    color: #137185; // text color
    font-family: "Arial Narrow";
    font-size: 24px;
    line-height: 1;
    margin: 0 0 20px;
  }
  .news-scroll {
    height: 285px;
    max-height: 295px;
    outline: none;
    .news-item {
      display: block;
      position: relative;
      float: left;
      width: 316px;
      min-height: 255px;
      padding: 0 15px 16px 0;
      .date {
        height: 24px;
        background-color: #137185;
        display: block;
        float: left;
        padding: 0 8px;
        color: #fff; // text color
        font-family: "Arial Narrow";
        font-size: 14px;
        font-weight: bold;
        line-height: 24px;
        margin: 0 0 5px;
      }
      .img {
        display: inline-block;
        width: 100%;
        margin: 0 0 5px;
      }
      .title {
        display: inline-block;
        width: 100%;
        margin: 0 0 5px;
        a {
          color: #137185; // text color
          font-family: "Arial";
          font-size: 15px;
          text-decoration: underline;
          line-height: 1.1;
          display: inline-block;
          &:hover {
            text-decoration: none;
          }
        }
      }
      .body {
        display: inline-block;
        width: 100%;
        margin: 0 0 0;
        p {
          color: #000;
          font-family: "Arial";
          font-size: 14px;
          line-height: 1.2;
          margin: 0 0 0;
        }
      }
      .more {
        display: block;
        line-height: 16px;
        position: absolute;
        left: 0;
        bottom: 0;
        text-align: center;
        font-size: 0px;
        span {
          display: inline-block;
          margin: 0 2px;
          font-size: 0px;
          width: 5px;
          height: 5px;
          background: #14b7a2;
          @include border-radius(4px);
        }
      }
    }
  }
  .all-news {
    text-align: left;
    display: inline-block;
    width: 100%;
    margin: 5px 0 25px;
    a {
      color: #137185;
      font-family: "Arial";
      font-size: 14px;
      text-decoration: underline;
      display: inline-block;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.block-dop-menu {
  margin: 0 0 50px;
  ul.menu {
    display: inline-block;
    width: 100%;
    margin: 0 0 0;
    li {
      display: block;
      float: left;
      width: 33.3333%;
      a {
        display: block;
        position: relative;
        width: 100%;
        height: 90px;
        padding: 0 0 0 96px;
        background: #fff;
        @include transition(all 0.4s ease 0s);
        &:hover {
          background: #147185;
          .text {
            color: #fff;
          }
          .stop {
            background: url('../img/svg-icons/sourse/stop_corruption-active.svg') no-repeat center transparent;
            @include background-size(auto 70px);
          }
          .help {
            background: url('../img/svg-icons/sourse/help_entrepreneurs-active.svg') no-repeat center transparent;
            @include background-size(auto 70px);
          }
          .data {
            background: url('../img/svg-icons/sourse/open_data-active.svg') no-repeat center transparent;
            @include background-size(auto 70px);
          }
          .question {
            background: url('../img/svg-icons/sourse/ask_question-active.svg') no-repeat center transparent;
            @include background-size(auto 70px);
          }
          .evaluation {
            background: url('../img/svg-icons/sourse/evaluation-active.svg') no-repeat center transparent;
            @include background-size(auto 70px);
          }
          .aid {
            background: url('../img/svg-icons/sourse/free_legal_aid-active.svg') no-repeat center transparent;
            @include background-size(auto 70px);
          }
        }
        &:after {
          content: "";
          display: inline-block;
          height: 100%;
          vertical-align: middle;
          width: 0.1%;
        }
        .icon {
          position: absolute;
          display: block;
          left: 0;
          top: 10px;
        }
        .text {
          display: inline-block;
          max-width: 97.9%;
          vertical-align: middle;
          color: #137185; // text color
          font-family: "Arial";
          font-size: 16px;
          text-decoration: underline;
          line-height: 1.2;
        }
        .icon {
          left: 10px;
          top: 10px;
        }
      }
    }
  }
}

.menu-resources {
  .box-title {
    background: url("../img/resources-title.jpg") no-repeat center top;
    height: 47px;
    text-align: center;
    line-height: 47px;
    a.show-resourses {
      color: #fff; // text color
      font-family: "Arial Narrow";
      font-size: 18px;
      font-weight: bold;
      line-height: 1;
      display: inline-block;
      border-bottom: 1px dashed #fff;
      &:hover {
        border-color: transparent;
      }
    }
  }
  .small-block-resourses {
    background: url("../img/small-block-resourses-bg.jpg") no-repeat center top transparent;
    display: none;
    position: absolute;
    left: 12px;
    top: 0;
    width: 946px;
    height: 217px;
    z-index: 5;
    h4 {
      color: #fff; // text color
      font-family: "Arial Narrow";
      font-size: 18px;
      font-weight: bold;
      line-height: 45px;
      text-align: center;
      margin: 0 0 15px;
    }
    .close-small-resourses {
      display: block;
      width: 17px;
      height: 17px;
      position: absolute;
      right: 10px;
      top: 10px;
      background: url("../img/icons/small/sprite.png") no-repeat -40px 0 transparent;
    }
    ul {
      margin: 0 0;
      li {
        padding: 0 15px 20px;
        .item {
          height: 46px;
          padding: 0 0 0 60px;
          position: relative;
          &:after {
            content: "";
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            width: 0.1%;
          }
          a {
            position: relative;
            display: inline-block;
            max-width: 97.9%;
            vertical-align: middle;
            color: #fff; // text color
            font-family: "Arial Narrow";
            font-size: 16px;
            line-height: 1.2;
            &:hover {
              text-decoration: underline;
            }
          }
          .icon {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            @include transition(all 0.4s ease 0s);
            &.animal {
              display: block;
              width: 48px;
              height: 29px;
              top: 8px;
              background: url('../img/svg-icons/sourse/animal_resources.svg');
              @include background-size(48px 29px);
            }
            &.aquatic {
              display: block;
              width: 46px;
              height: 24px;
              top: 12px;
              background: url('../img/svg-icons/sourse/aquatic_biological_resources.svg');
              @include background-size(46px 24px);
            }
            &.hunting {
              display: block;
              width: 47px;
              height: 37px;
              top: 4px;
              background: url('../img/svg-icons/sourse/hunting_resources.svg');
              @include background-size(47px 37px);
            }
            &.forestry {
              display: block;
              width: 47px;
              height: 46px;
              background: url('../img/svg-icons/sourse/forestry.svg');
              @include background-size(47px 46px);
            }
            &.water {
              display: block;
              width: 47px;
              height: 33px;
              top: 6px;
              background: url('../img/svg-icons/sourse/water_resources.svg');
              @include background-size(47px 33px);
            }
            &.subsoil {
              display: block;
              width: 47px;
              height: 42px;
              top: 2px;
              background: url('../img/svg-icons/sourse/subsoil.svg');
              @include background-size(47px 42px);
            }
            &.protected {
              display: block;
              width: 47px;
              height: 40px;
              top: 3px;
              background: url('../img/svg-icons/sourse/protected_areas.svg');
              @include background-size(47px 40px);
            }
            &.book {
              display: block;
              width: 47px;
              height: 32px;
              top: 7px;
              background: url('../img/svg-icons/sourse/red_book.svg');
              @include background-size(47px 32px);
            }
          }
        }
      }
    }
  }
}

.breadcrumbs {
  padding: 8px 0 10px;
  margin: 0 0 0;
  border: none;
  background: transparent;
  @include border-radius(0);
  > * {
    margin: 0;
    float: left;
    line-height: 1;
    text-transform: none;
    color: #fff;
    &:before {
      content: "|";
      color: #fff;
      margin: 0 5px;
      position: relative;
      top: -1px;
      text-decoration: none;
      font-size: 14px;
      font-weight: normal!important;
    }
  }
  li {
    &.current {
      a {
        text-decoration: none;
        color: #fff;
      }
    }
    a {
      color: #fff;
      font-family: "Arial Narrow";
      font-size: 14px;
      font-weight: bold;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

ul.pagination {
  margin: 20px 0 25px;
  min-height: inherit;
  height: auto;
  display: inline-block;
  width: 100%;
  text-align: center;
  li {
    margin: 0 5px;
    line-height: 15px;
    background: transparent!important;
    height: inherit;
    display: inline-block;
    float: none;
    vertical-align: top;
    &:first-child {
      a {
        display: block;
        background: url('../img/icons/small/sprite.png') no-repeat -80px 0!important;
        width: 8px;
        height: 15px;
        &:hover {
          background: url('../img/icons/small/sprite.png') no-repeat -80px -16px!important;
        }
      }
    }
    &:last-child {
      a {
        display: block;
        background: url('../img/icons/small/sprite.png') no-repeat -89px 0!important;
        width: 8px;
        height: 15px;
        &:hover {
          background: url('../img/icons/small/sprite.png') no-repeat -89px -16px!important;
        }
      }
    }
    &.current {
      a {
        text-decoration: none;
        background: transparent;
        color: #000;
      }
    }
    a {
      color: #137185; // text color
      font-family: "Arial Narrow";
      font-size: 14px;
      font-weight: bold;
      text-decoration: underline;
      padding: 0 0;
      line-height: 1;
      @include border-radius(0);
      background: transparent;
      &:hover {
        color: #05414e;
        text-decoration: none;
        background: transparent!important;
      }
    }
  }
}

.accordion-menu {
  .accordion-navigation {
    background: #14b7a2;
    &.active {
      > a {
        background: #14b7a2;
        &:after {
          content: "";
          background: url('../img/icons/small/sprite.png') no-repeat -107px 0;
          width: 15px;
          height: 8px;
          display: block;
          position: absolute;
          right: 10px;
          top: 50%;
          margin-top: -4px;
        }
      }
    }
    > a {
      display: inline-block;
      position: relative;
      width: 100%;
      padding: 5px 30px 5px 10px;
      background: #14b7a2;
      color: #fff; // text color
      font-family: "Arial Narrow";
      font-size: 16px;
      font-weight: bold;
      line-height: 1.2;
      &:hover {
        background: #10747c;
      }
      &:after {
        content: "";
        background: url('../img/icons/small/sprite.png') no-repeat -98px 0;
        width: 8px;
        height: 15px;
        display: block;
        position: absolute;
        right: 13px;
        top: 50%;
        margin-top: -8px;
      }
    }
    .content {
      padding: 0 0 0;
      ul.sub-menu {
        margin: 0 0;
        list-style: none;
        background: #14b7a2;
        li {
          width: 100%;
          &.active {
            background: #10747c;
            font-weight: bold;
          }
          a {
            padding: 4px 0 4px 10px;
            display: block;
            width: 100%;
            color: #fff; // text color
            font-family: "Arial Narrow";
            font-size: 16px;
            font-weight: normal;
            line-height: 1.2;
            &:hover {
              background: #10747c;
            }
          }
        }
      }
    }
  }
}

.sidebar-left {
  .block-dop-menu {
    margin: 20px 0 20px;
    ul.menu {
      display: inline-block;
      width: 100%;
      margin: 0 0 0;
      li {
        display: block;
        float: left;
        width: 100%;
        a {
          display: block;
          position: relative;
          width: 100%;
          height: 68px;
          padding: 0 0 0 54px;
          background: #fff;
          @include transition(all 0.4s ease 0s);
          &:hover {
            background: #147185;
            .text {
              color: #fff;
            }
            .icon {
              &.stop {
                background: url('../img/svg-icons/sourse/stop_corruption-active.svg') no-repeat center transparent;
                @include background-size(auto 42px);
              }
              &.help {
                background: url('../img/svg-icons/sourse/help_entrepreneurs-active.svg') no-repeat center transparent;
                @include background-size(auto 42px);
              }
              &.data {
                background: url('../img/svg-icons/sourse/open_data-active.svg') no-repeat center transparent;
                @include background-size(auto 42px);
              }
              &.question {
                background: url('../img/svg-icons/sourse/ask_question-active.svg') no-repeat center transparent;
                @include background-size(auto 42px);
              }
              &.evaluation {
                background: url('../img/svg-icons/sourse/evaluation-active.svg') no-repeat center transparent;
                @include background-size(auto 42px);
              }
              &.aid {
                background: url('../img/svg-icons/sourse/free_legal_aid-active.svg') no-repeat center transparent;
                @include background-size(auto 42px);
              }
            }
          }
          &.active {
            background: #147185;
            .text {
              color: #fff;
            }
            .icon {
              &.stop {
                background: url('../img/svg-icons/sourse/stop_corruption-active.svg') no-repeat center transparent;
                @include background-size(auto 42px);
              }
              &.help {
                background: url('../img/svg-icons/sourse/help_entrepreneurs-active.svg') no-repeat center transparent;
                @include background-size(auto 42px);
              }
              &.data {
                background: url('../img/svg-icons/sourse/open_data-active.svg') no-repeat center transparent;
                @include background-size(auto 42px);
              }
              &.question {
                background: url('../img/svg-icons/sourse/ask_question-active.svg') no-repeat center transparent;
                @include background-size(auto 42px);
              }
              &.evaluation {
                background: url('../img/svg-icons/sourse/evaluation-active.svg') no-repeat center transparent;
                @include background-size(auto 42px);
              }
              &.aid {
                background: url('../img/svg-icons/sourse/free_legal_aid-active.svg') no-repeat center transparent;
                @include background-size(auto 42px);
              }
            }
          }
          &:after {
            content: "";
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            width: 0.1%;
          }
          .icon {
            position: absolute;
            display: block;
            left: 4px;
            top: 13px;
            &.stop {
              display: block;
              width: 35px;
              height: 42px;
              background: url('../img/svg-icons/sourse/stop_corruption.svg') no-repeat center transparent;
              @include background-size(auto 42px);
            }
            &.help {
              display: block;
              width: 35px;
              height: 42px;
              background: url('../img/svg-icons/sourse/help_entrepreneurs.svg') no-repeat center transparent;
              @include background-size(auto 42px);
            }
            &.data {
              display: block;
              width: 44px;
              height: 42px;
              background: url('../img/svg-icons/sourse/open_data.svg') no-repeat center transparent;
              @include background-size(auto 42px);
            }
            &.question {
              display: block;
              width: 43px;
              height: 42px;
              top: 15px;
              background: url('../img/svg-icons/sourse/ask_question.svg') no-repeat center transparent;
              @include background-size(auto 42px);
            }
            &.evaluation {
              display: block;
              width: 42px;
              height: 42px;
              background: url('../img/svg-icons/sourse/evaluation.svg') no-repeat center transparent;
              @include background-size(auto 42px);
            }
            &.aid {
              display: block;
              width: 42px;
              height: 42px;
              background: url('../img/svg-icons/sourse/free_legal_aid.svg') no-repeat center transparent;
              @include background-size(auto 42px);
            }
          }
          .text {
            display: inline-block;
            max-width: 97.9%;
            vertical-align: middle;
            color: #137185; // text color
            font-family: "Arial";
            font-size: 14px;
            text-decoration: underline;
            line-height: 1.2;
          }
        }
      }
    }
  }
}

.news {
  .news-item {
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0 0 30px;
    &:last-child {
      margin-bottom: 80px;
    }
    .date {
      height: 24px;
      background-color: #137185;
      display: block;
      float: left;
      padding: 0 8px;
      color: #fff; // text color
      font-family: "Arial Narrow";
      font-size: 14px;
      font-weight: bold;
      line-height: 24px;
      margin: 0 0 5px;
    }
    .img {
      display: inline-block;
      width: 100%;
      margin: 0 0 5px;
    }
    .title {
      display: inline-block;
      width: 100%;
      margin: 0 0 5px;
      a {
        color: #137185; // text color
        font-family: "Arial";
        font-size: 16px;
        text-decoration: underline;
        line-height: 1.1;
        display: inline-block;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .body {
      display: inline-block;
      width: 100%;
      margin: 0 0 5px;
      p {
        color: #000;
        font-family: "Arial";
        font-size: 14px;
        line-height: 1.2;
        margin: 0 0 0;
      }
    }
    .more {
      display: block;
      line-height: 16px;
      left: 0;
      bottom: 0;
      text-align: left;
      font-size: 0px;
      span {
        display: inline-block;
        margin: 0 2px;
        font-size: 0px;
        width: 5px;
        height: 5px;
        background: #14b7a2;
        @include border-radius(4px);
      }
    }
  }
}

.news-page {
  .news-content {
    .date {
      height: 24px;
      background-color: #137185;
      display: block;
      float: left;
      padding: 0 8px;
      color: #fff; // text color
      font-family: "Arial Narrow";
      font-size: 14px;
      font-weight: bold;
      line-height: 24px;
      margin: 0 0 15px;
    }
    #page-title {
      clear: both;
    }
    .news-img {
      display: inline-block;
      width: 100%;
      margin: 0 0 20px;
      img {
        border: 8px solid #e1f1ef;
      }
    }
    .body {
      margin-bottom: 10px;
      display: inline-block;
      width: 100%;
      p {
        text-align: justify;
      }
    }
  }
}

.news-slider {
  padding: 10px 8px 10px;
  margin: 0 0 45px;
  background: #e1f2ef;
  position: relative;
  &:after {
    content: "";
    width: 45px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    background: rgba(225,242,239,1);
    background: -moz-linear-gradient(left, rgba(225,242,239,1) 0%, rgba(225,242,239,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(225,242,239,1)), color-stop(100%, rgba(225,242,239,0)));
    background: -webkit-linear-gradient(left, rgba(225,242,239,1) 0%, rgba(225,242,239,0) 100%);
    background: -o-linear-gradient(left, rgba(225,242,239,1) 0%, rgba(225,242,239,0) 100%);
    background: -ms-linear-gradient(left, rgba(225,242,239,1) 0%, rgba(225,242,239,0) 100%);
    background: linear-gradient(to right, rgba(225,242,239,1) 0%, rgba(225,242,239,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1f2ef', endColorstr='#e1f2ef', GradientType=1 );
  }
  &:before {
    content: "";
    width: 45px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    background: rgba(225,242,239,0);
    background: -moz-linear-gradient(left, rgba(225,242,239,0) 0%, rgba(225,242,239,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(225,242,239,0)), color-stop(100%, rgba(225,242,239,1)));
    background: -webkit-linear-gradient(left, rgba(225,242,239,0) 0%, rgba(225,242,239,1) 100%);
    background: -o-linear-gradient(left, rgba(225,242,239,0) 0%, rgba(225,242,239,1) 100%);
    background: -ms-linear-gradient(left, rgba(225,242,239,0) 0%, rgba(225,242,239,1) 100%);
    background: linear-gradient(to right, rgba(225,242,239,0) 0%, rgba(225,242,239,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1f2ef', endColorstr='#e1f2ef', GradientType=1 );
  }
  .owl-wrapper {
    .owl-item {
      margin: 0 0 0 0;
      padding: 0 5px;
    }
  }
  .owl-controls {
    .owl-prev {
      display: block;
      position: absolute;
      left: 2px;
      top: 50%;
      background: url("../img/icons/small/sprite.png") no-repeat -80px 0 transparent;
      width: 8px;
      height: 15px;
      margin-top: -7px;
      font-size: 0px;
      z-index: 8;
      &:hover {
        background: url('../img/icons/small/sprite.png') no-repeat -80px -16px transparent;
      }
    }
    .owl-next {
      display: block;
      position: absolute;
      right: 3px;
      top: 50%;
      background: url("../img/icons/small/sprite.png") no-repeat -88px 0 transparent;
      width: 8px;
      height: 15px;
      margin-top: -7px;
      font-size: 0px;
      z-index: 8;
      &:hover {
        background: url('../img/icons/small/sprite.png') no-repeat -88px -16px transparent;
      }
    }
  }
}

.news-controls {
  display: inline-block;
  width: 100%;
  margin: 0 0 45px;
  position: relative;
  .left {
    line-height: 16px;
  }
  .right {
    position: relative;
    line-height: 16px;
    &:after {
      content: "";
      background: #137185;
      width: 1px;
      height: 14px;
      display: block;
      position: absolute;
      left: 51%;
      top: 3px;
    }
  }
  a {
    color: #137185;
    font-family: "Arial Narrow";
    font-size: 14px;
    font-weight: normal;
    text-decoration: underline;
    position: relative;
    &:hover {
      color: #05414d;
      text-decoration: none;
    }
    &.all-news {
      padding: 0 0 0 24px;
      &:hover {
        &:after {
          background: url('../img/icons/small/sprite.png') no-repeat -123px -9px;
        }
      }
      &:after {
        content: "";
        background: url('../img/icons/small/sprite.png') no-repeat -123px 0;
        width: 15px;
        height: 9px;
        display: block;
        position: absolute;
        left: 0;
        top: 4px;
      }
    }
    &.prew-news {
      padding: 0 0 0 20px;
      margin: 0 12px 0 0;
      &:hover {
        &:after {
          background: url('../img/icons/small/sprite.png') no-repeat -80px -16px transparent;
        }
      }
      &:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 1px;
        background: url("../img/icons/small/sprite.png") no-repeat -80px 0 transparent;
        width: 8px;
        height: 15px;
      }
    }
    &.next-news {
      padding: 0 20px 0 0;
      margin: 0 0 0 12px;
      &:hover {
        &:after {
          background: url('../img/icons/small/sprite.png') no-repeat -88px -16px transparent;
        }
      }
      &:after {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        top: 1px;
        background: url('../img/icons/small/sprite.png') no-repeat -88px 0 transparent;
        width: 8px;
        height: 15px;
      }
    }
  }
}

.content-page {
  margin-bottom: 50px;
  .page {
    #page-title {
      clear: both;
    }
    .news-img {
      display: inline-block;
      width: 100%;
      margin: 0 0 20px;
      img {
        border: 8px solid #e1f1ef;
      }
    }
    .body {
      margin-bottom: 10px;
      display: inline-block;
      width: 100%;
      p {
        text-align: justify;
      }
      h4 {
        font-family: "Arial";
        font-weight: bold;
        font-size: 18px;
        margin: 25px 0 25px;
        line-height: 1.2;
      }
      ul {
        list-style: none;
        margin: 0 0 35px;
        padding: 0 0 0;
        li {
          position: relative;
          padding: 0 0 0 16px;
          margin: 0 0 10px 0;
          color: #000;
          font-family: "Arial";
          font-size: 16px;
          line-height: 1.2;
          &:after {
            content: "";
            background-color: #15b3a3;
            display: block;
            width: 8px;
            height: 8px;
            position: absolute;
            left: 2px;
            top: 5px;
            @include transform(rotate(45deg));
          }
        }
      }
      table {
        border: 1px solid #b2d0d7;
        background: #fff;
        border-collapse: collapse;
        width: 100%;
        margin: 0 0 30px;
        tr {
          background: transparent;
          &:nth-of-type(even) {
            background: transparent;
          }
          th {
            background: #e1f2ef;
            color: #000; // text color
            font-family: "Arial";
            font-size: 13px;
            font-weight: bold;
            padding: 8px 10px;
            line-height: 1.2;
            border: 1px solid #b2d0d7;
            &:nth-child(1) {
              width: 390px;
            }
            &:nth-child(2) {
              width: 175px;
              text-align: center;
            }
            &:nth-child(3) {
              text-align: center;
            }
            span {
              font-weight: normal;
            }
          }
          td {
            border: 1px solid #b2d0d7;
            color: #000;
            font-family: "Arial";
            font-size: 13px;
            line-height: 1.2;
            &:nth-child(2) {
              text-align: center;
            }
            &:nth-child(3) {
              text-align: center;
            }
          }
        }
      }
    }
  }
}

.documents {
  display: inline-block;
  width: 100%;
  margin: 0 0 8px;
  h4 {
    color: #000; // text color
    font-family: "Arial";
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    margin: 0 0 12px;
  }
  .doc-item {
    display: inline-block;
    width: 100%;
    padding: 0 0 0 16px;
    margin: 0 0 8px 0;
    position: relative;
    &:after {
      content: "";
      width: 9px;
      height: 12px;
      border: 1px solid #adcdd3;
      background-color: #e1f1ef;
      display: block;
      position: absolute;
      left: 0;
      top: 4px;
    }
    p {
      margin: 0 0;
      a {
        font-size: 13px;
        color: #147185;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
      span {
        color: #000;
        font-family: "Arial";
        font-size: 13px;
      }
    }
  }
}

@media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (   min--moz-device-pixel-ratio: 1.5),
only screen and (     -o-min-device-pixel-ratio: 3/2),
only screen and (        min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 192dpi) {
  /* Style Rules */
  .header {
    .tools {
      .search {
        form {
          button[type="submit"] {
            background: url("../img/icons/large/sprite.png") no-repeat 0 0 transparent;
            @include background-size(200px auto);
          }
        }
      }
      .links {
        a.site-map {
          &:hover {
            &:after {
              content: "";
              background: url("../img/icons/large/sprite.png") no-repeat -17px -15px transparent;
              @include background-size(200px);
              width: 22px;
            }
          }
          &:after {
            content: "";
            background: url("../img/icons/large/sprite.png") no-repeat -17px 0 transparent;
            @include background-size(200px auto);
            width: 22px;
          }
        }
      }
    }
    .header-region {
      .social {
        li {
          a {
            &.fb {
              &:hover {
                &:after {
                  content: "";
                  background: url("../img/icons/large/sprite.png") no-repeat -56px -17px transparent;
                  @include background-size(200px);
                }
              }
              &:after {
                background: url("../img/icons/large/sprite.png") no-repeat -56px 0 transparent;
                @include background-size(200px);
                width: 8px;
                height: 17px;
              }
            }
            &.vk {
              &:hover {
                &:after {
                  background: url("../img/icons/large/sprite.png") no-repeat -65px -13px transparent;
                  @include background-size(200px);
                }
              }
              &:after {
                background: url("../img/icons/large/sprite.png") no-repeat -65px 0 transparent;
                @include background-size(200px);
                width: 12px;
                height: 13px;
              }
            }
          }
        }
      }
    }
    .navigation {
      ul.menu {
        > li {
          .box-sub-menu {
            .close {
              background: url("../img/icons/large/sprite.png") no-repeat -39px 0 transparent;
              @include background-size(200px auto);
            }
          }
        }
      }
    }
  }

  .block-resources {
    .content {
      .weather {
        background: url("../img/weather@2x.png") no-repeat 0 0 transparent;
        @include background-size(100% auto);
      }
    }
  }
}


